<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Editing Project Color</h1>
  </div>
  <br/>

<%= render 'form' %>
</div>

<%= link_to 'Show', @project_color %> |
<%= link_to 'Back', project_colors_path %>
