<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>New Project Color</h1>
  </div>

<%= render 'form' %>
</div>
<%= link_to 'Back', project_colors_path %>
