<ul>
  <li>
    <%= link_to "Technicians", technicians_path %>
  </li>
  <li>
    <%= link_to "Project Types", project_types_path %>
  </li>
  <li>
    <%= link_to "Projects", projects_path %>
  </li>
</ul>