<div style="width:99%;height:500px;margin:10px;background:lightgray">
  <div id="slider">
  </div>
  <div style="width:100%;height:100%;overflow-x:hidden">
    <br/>
    <br/>
    <br/>
    <div id="slidee" style='width:2000px;background:white;'>
      <% 100.times do |i| %>
        <div style="width:20px;height:20px;display:inline;background:black;margin-left:10px">
          a
        </div>
      <% end %>
      <div style='clear:both'></div>
    </div>
    <div style='clear:both'></div>
  </div>

</div>

<span id="values"></span>