body{
  width:994px;
  margin:20px auto;
  padding:10px;
  min-height:680px;
  /*border:1px solid gray;*/
  /*background:white;*/
  /*position:absolute;*/
  /*padding:10px;*/
  /*margin-left:-100px;*/
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
   /*For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
   /*For IE 5.5 - 7*/
  /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
}

html .ui-button{
  padding:0 5px;
}

ul{
  list-style-type:none;
  padding:0;
}

ul li{
  display:inline;
}

table{
  width:100%;
}

td{
  vertical-align:top;
}

label{
  font-weight:bold;
}

#header{
  height:50px;
  margin:10px 0;
  border-bottom:1px solid #aaaaaa;
}

.form{
  padding:10px;
  width:98%;
}

html .ui-button{
  padding:0 5px;
}

.form .ui-widget-content{
  padding:5px;
}

.form .ui-widget-header{
  text-align:center
}

.form table td{
  overflow-x:hidden;
}

.draggable-technician{
  cursor:pointer;
  margin:5px;
  padding:5px;
}

.one-third{
  width:32%;
}

.two-thirds{
  width:65%;
}

.half{
  width:49%;
}

.left{
  float:left;
}

.right{
  float:right;
}

.technician-container {
  height:100%;
  min-height:200px;
  max-height:300px;
  overflow-y:auto;
  overflow-x:visible;
}

.r-margin{
  margin-right:10px
}

form textarea{
  width:99%;
  height:40px;
}