<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>New Technician</h1>
  </div>

<%= render 'form' %>

<%= link_to 'Back', technicians_path %>
</div>