<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Editing Travel Restriction</h1>
  </div>

<%= render 'form' %>

<%= link_to 'Show', @travel_restriction %> |
<%= link_to 'Back', travel_restrictions_path %>
</div>