<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Editing Project Scope</h1>
  </div>

<%= render 'form' %>

<%= link_to 'Show', @project_scope %> |
<%= link_to 'Back', project_scopes_path %>
</div>