<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @project_scope.description %>
</p>


<%= link_to 'Edit', edit_project_scope_path(@project_scope) %> |
<%= link_to 'Back', project_scopes_path %>
