<!DOCTYPE html>
<html>
<head>
  <title>ProjectManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application', 'jquery-1.4.4.min', 'jquery-ui-1.8.9.custom.min',
                             'jquery.class', 'fullcalendar', 'gcal', 'rails', 'colorpicker', 'eye',
                             'layout', 'utils' ,'test_canvas' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">

  <div id="headerOptions" class="ui-buttonset">
    <input type="radio" class="headerOptionButton" href="/" id="homeOption" name="radio" /><label for="homeOption">Home</label>
    <input type="radio" class="headerOptionButton" href="/projects" id="projectsOption" name="radio"/><label for="projectsOption">Projects</label>
    <input type="radio" class="headerOptionButton" href="/technicians" id="techniciansOption" name="radio" /><label for="techniciansOption">Technicians</label>
    <input type="radio" class="headerOptionButton" href="/home/picklists" id="picklistsOption" name="radio" /><label for="picklistsOption">Data Management</label>
  </div>
</div>
<div id="content">

  <%= yield %>
</div>
<div id="footer">

</div>


</body>
</html>
