<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Editing Skill Level</h1>
  </div>

<%= render 'form' %>

<%= link_to 'Show', @skill_level %> |
<%= link_to 'Back', skill_levels_path %>
</div>