<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Editing Project Type</h1>
  </div>

<%= render 'form' %>

<%= link_to 'Show', @project_type %> |
<%= link_to 'Back', project_types_path %>
</div>