<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Listing Supervisor Levels</h1>
  </div>

  <table>
    <tr>
      <th>Level</th>
      <th></th>
      <th></th>
    </tr>

    <% @supervisor_levels.each do |supervisor_level| %>
      <tr>
        <td><%= supervisor_level.level %></td>
        <td><%= link_to 'Show', supervisor_level %></td>
        <td><%= link_to 'Edit', edit_supervisor_level_path(supervisor_level) %></td>
      </tr>
    <% end %>
  </table>
</div>

<br/>

<%= link_to 'New Supervisor level', new_supervisor_level_path %>
