<p id="notice"><%= notice %></p>

<p>
  <b>Level:</b>
  <%= @supervisor_level.level %>
</p>


<%= link_to 'Edit', edit_supervisor_level_path(@supervisor_level) %> |
<%= link_to 'Back', supervisor_levels_path %>
